*.*
!*.h
!*.c
!*.json
!*.iss
!*.aseprite
!*.png
!*.ttf
!*.binou
!*.bsa

!.gitignore
!.gitattributes
!*.md
!CmakeLists.txt
!gamecontrollerdb.txt
!licenses/*

assets/references/*

saves/*
html/*
latex/*
build/*
plots/*
