# Ignore everything
*.*
!.gitignore

!*.h
!*.c
!*.o
!*.gch
!*.py
!*.bat
!*.sh
!*.json
!*.hex
!*.lua
!*.txt
!*.iss
!*.dll

# Make
makefile
Makefile
*.make

# mace
!macefile.c
!mace.h
builder

# Docs
!*.md
!gamecontrollerdb.txt

# Saves
saves/*

# Build
build/*
obj/*

# DVC
!.dvc
!*.dvc
/assets
/fonts
/gamecontrollerdb.txt
